extends layouts/template
append config
  -currentPage = 'Materiales eléctricos'
//- block banner
  include components/slider
block main
  h2.main-main__title.center= currentPage
  .rex-container
    aside.list-menu.rex-item.s-25
      ul.feature-list
        li(v-for="item in mainmenu[0].list")
          span(v-text="item.title")
          ul
            li(v-for="subitem in item.prod" v-if="subitem.title != ''")
              span(v-text="subitem.title")
    gallery-vue(idmenu = 0 )
    //- section.rex-item.s-75.gallery.l-block#gallery
    //-   template(v-for="item in mainmenu[0].list")
    //-     .gallery-item(v-for="subitem in item.prod" v-if="subitem.src != ''")
    //-       .card.card--course
    //-         .card__img
    //-           img.image--contain(:src='path_media + "images/materiales-electricos/" + subitem.src')
    //-         .card__content
    //-           .card__title(v-text="item.title")
    //-           footer.card__footer
    //-             .card__user
    //-               .card__user-name(v-text="subitem.title")