extends layouts/template
append config
  -currentPage = 'Nosotros'
//- block banner
  include components/slider
block main
  h2.main-main__title.center= currentPage
  .rex-container
    .rex-item.s-50
      h3 Misión
      hr
      p Ser una empresa lider, comercializadora y distribuidora de productos eléctricos que tiene como propósito brindar las mejores soluciones en electricidad a sus clientes, manteniendo los valores, calidad y buen servicio.
      h3 Visión
      hr
      p Ser reconocida en el mercado nacional como una empresa comercializadora y distribuidora de una gran variedad de productos eléctricos de calidad, de marcas nacionales e internacionales. Además, contar con un equipo de personas capacitadas y comprometidas con lograr la satisfacción de nuestros clientes a través de un servicio eficiente y una buena asesoría técnica.
    .rex-item.s-50
      .center
        img(:src="path_media + 'images/electropunto.jpg'", alt="Electropunto")
