extends layouts/template
append config
  -currentPage = 'Otros productos'
//- block banner
  include components/slider
block main
  h2.main-main__title.center= currentPage
  .rex-container
    aside.list-menu.rex-item.s-25
      ul.feature-list
        li(v-for="item in mainmenu[5].list")
          span(v-text="item.title")
          ul
            li(v-for="subitem in item.prod" v-if="subitem.title != ''")
              span(v-text="subitem.title")
    gallery-vue(idmenu = 5 )