.main-logo {
  height  : 10rem;
  width   : auto;
  display : block;
  padding : .5em 0;
  &__title{
    font-size: 1.25rem;
    color: initial;
    font-weight: 100;
  }
  &:hover{
    text-decoration: none;;
  }
}
