.main-footer {
  position      : relative;
 background    : linear-gradient(darken($thirdColor, 10), $thirdColor, $thirdColor, darken($thirdColor, 6));
  color         : #FFF;
  padding-top   : 2rem;
  font-size     : fontSize(normal);
  margin-top    : auto;
  box-shadow    : 0px 0px 10px 0px $darkColor;
  h2,ul,p{
    margin-bottom: .6rem;
  }
  h2{
    text-transform: uppercase;
  }
}
