.main-main{
  background: $bodyBg;
  width: calc(100% - 1rem);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  &__title{
    font-size: fontSize(normal)*2;
    background: linear-gradient($thirdColorAlt, $thirdColor, $thirdColorAlt);
    color: #FFF;
    padding-top: .3rem;
    padding-bottom: .3rem;
  }
}