header{
  z-index: $z-normal;
  position: relative;
  box-shadow: 0px 0px 10px 0px $darkColor;
}
.main-header {
  border-bottom : 1px solid $borderColor;
  display       : flex;
  align-items   : center;
  background    : $bodyBg;
  // position      : fixed;
  top           : 0;
  width         : calc(100% - 1.5rem);
  left          : 0;
  z-index       : $z-fixed;
  &__main{
    padding-top: .6rem;
    padding-bottom: .6rem;
    background: $thirdColor;
    padding-right: 0;
    // @include from(l){
    border-radius: 10px;
    // }
    .button{
      @include crossCenter;
      @include mainCenter;
      font-family: $button-font;
      text-transform: uppercase;
      height: 3rem;
      padding: 0 5px;
      line-height: 1.2;
      font-weight: 600;
      letter-spacing: 0.3px;
    }
  }
  &__ul{    
    @include clearMenu;
  }
  &__item{
    padding-right: 1rem;
  }
}
