.gallery{
  // @include edContainer;
  // @include crossStart;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  align-items: start;
  img{
    height: 290px;
  }
}
// .masonry-layout {
//   --columns: 1;
//   --gap: 1.2rem;
//   $columns: 6;
  
//   display: grid;
//   grid-template-columns: repeat(var(--columns),1fr);
//   grid-gap: var(--gap);
  
//   .masonry-item{
//     margin-bottom: var(--gap);
//   }
  
//   @for $i from 1 through $columns {
//     &.columns-#{$i}{
//       --columns: #{$i};
//     }
//   }
// }