.present-gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 170px;
  grid-gap: 10px;
  margin-bottom: 1.1rem;
  &__item{
    display: flex;
    border: outset 3px #b7b7b7;
    background: #FFF;
    cursor: pointer;
    will-change: transform;
    transition: .34s transform;
    &:active, &:focus{
      border-style: inset;
      transform: scale(.99);
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &:hover{
      &::after{
        background: transparentize(#0051ad, 0.85);
      }
    }
  }
  &__first{
    grid-row-start: 1;
    grid-row-end  : 4;
    grid-column-start: 3;
    grid-column-end: 5;
    border-style: inset;
    cursor: default;
    &_body{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%)
    }
    &:hover{
      &::after{
        background: transparentize($firstColor, 1);
      }
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
    }
  }
  &__img{
    object-fit: cover;
  }
}