- var currentPage = 'Inicio'
- var siteName = 'ELECTRO-PUNTO'
- var slogan = 'Venta de Materiales Eléctricos en General'
- var description = 'Materiales eléctricos, cables eléctricos, automatización y control, luminarias e iluminación, cajas eléctricas. Aisladores bajantes para pararrayos, conectores EMT, cables de aluminio aislados cuádruplex dúplex, cables de aluminio desnudo, cables monopolares, bipolares, tripolares, tetrapolares, cables UTP y FTP, amperímetros analógicos y digital, arrancadores directos, botoneras de potencia, contactores monofásicos y trifásicos, medidores monofásico y trifásicos, reles térmicos, termostatos, reflectores, luminarias públicas, iluminación tipo campana, cajas de PVC de montaje, cajas metálicas modulares, cajas para botoneras, gabinetes metálicos, cintas marcadoras de pavimento, líquidos desengrasantes, tapas de aterramientos, codos antiexplosivos, tubos antiexplosivos.'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'