block config
  include config
include ../mixins/main-banner
doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    //- meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName + ' - ' + slogan
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name="description" content=description)
    meta(property="og:title" content=currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName)
    meta(property="og:description" content=description)  
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald")
    link(rel="stylesheet" href= path_media + "css/styles.css?v=2.0.2")
    link(rel="shortcut icon" href= path_media + "img/favicon.png")
  body(class=currentPage)
    #rex
      include ../components/header
      block topbar
      //- block banner
      .rex-container.main-section.l-section
        main.rex-item.l-100.main-main
          block main
      include ../components/footer
    script(src= path_media + "js/modernizr.js")
    script(src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyCtHA-aTvw4xFHyE7wkRPGMTePKr51wLGA")
    script(src= path_media + "js/script.js?v=2.0.2")
      //- script(src="js/prism.js?v2")
