footer.main-footer
	.rex-container
		.rex-item.main-footer__item.l-block.s-40
			h2.center Nuestro productos
			hr
			ul.rex-container
				li.s-50(v-for="item in mainmenu")
					a(:href="path_page + item.href + '.html'" v-text="item.title")
		.rex-item.main-footer__item.l-block.s-35
			h2.center Dirección Bolivia
			hr
			p 
				b Santa Cruz: 
				| Av. Paraguá # 2350 esq. De Cáceres (entre 2º y 3º Anillo)
				a.button--ghost--second.button--small.center(:href="path_page + 'contactos.html'") >> Ver mapa
			span.main-distribute
				span
					| WhatsApp: 
					i.icon-wap
					| 76040672
				span Telf:  3263551

		.rex-item.main-footer__item.l-block.s-25
			h2.center= siteName
			hr
			ul.social
				li: a.icon-facebook(href="#" target="_blank")
				li: a.icon-youtube(href="#" target="_blank")
				li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=59176040672" target="_blank")
			p.center electropunto@electro-punto.com
				br
				| jorgevallejos@electro-punto.com
		hr.rex-item
		.rex-item.s-50
			p Todos los Derechos Reservados ® 
				b #{siteName} 
				| © 
				span#currentDate
		.rex-item.s-50.main-end
			p: a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD