header
  .main-header.rex-container
    .rex-item.s-55.cross-center
      a(:href="path_page").main-logo
        img(src= path_media + "images/logo-e.png", alt= siteName)
        //- h2.main-logo__title.center= slogan
    .rex-item.s-45.cross-center.main-end.header-links
      nav.main-menu#main-menu
        ul
          li(v-for="item in menuinicio")
            a.button--ghost--alert.button--small(:href="path_page + item.href")
              span(v-text="item.title + '  '")
              i(:class="item.icon")
      //- .main-menu-toggle.to-l#main-menu-toggle
  .rex-container.full
    .rex-item.main-header__main
      ul.main-header__ul.main-justify
        li.l-1-6.main-header__item(v-for="item in mainmenu"): a.button.full.cross-center(:href="path_page + item.href + '.html'" v-text="item.title")
