// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : 1em 2em;
  background      : linear-gradient($secondColor, $secondColor 85%, $secondColorAlt);
  color           : $thirdColor;
  // margin-right    : rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;
  border          : double 4px;

  &:hover {
    background      : $bodyBg;
    color           : $firstColor;
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding : .2rem 1rem;
  font-size: fontSize(small);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-second {
  background : $secondColor;

  &:hover {
    background : $secondColorAlt;
  }
}
@mixin button-alert {
  background : $thirdColor;

  &:hover {
    background : $thirdColorAlt;
  }
}

@mixin button-cta {
  background : $accentColor;

  &:hover {
    background : $accentColorAlt;
  }
}

@mixin button-ghost {
  color      : $firstColor;
  background : none;
  border     : 1px solid;

  &:hover {
    background   : $firstColor;
    color        : #FFF;
    border-color : transparent;
  }
}
@mixin button-ghost-second {
  color : $secondColor;

  &:hover {
    background : $secondColor;
    color      : $firstColor;
  }
}

@mixin button-ghost-alert {
  color : $thirdColor;

  &:hover {
    background : $thirdColor;
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : $accentColor;

  &:hover {
    background : $accentColor;
    color      : #FFF;
  }
}
