// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container : rex-container;
$item      : rex-item;
$max-width  : 1284px;
$gutter     : 1rem;

//layout
:root {
  --header-height : 3rem;
  --max-width     : 1344px;
  --gutter        : 1rem;
}

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  xl : 1440px
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// Colors
$firstColor     : #494949;
$firstColorAlt  : #282D31;
$secondColor    : #fff;
$secondColorAlt : #cfcfcf;
$thirdColor     : #f70000;
$thirdColorAlt  : #fc463d;
$accentColor    : #FBA905;
$accentColorAlt : #F1A000;
$darkColor      : #282D31;

// Complementary colors
$borderColor : #e1dfe4;
$textColor   : #1d1d1d;
$bodyBg      : #FFF;

// z-index
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}

// Images path
$images-path: '..';
